{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <p>Welcome to Admin Page</p>
    {% endif %}
    <div>
        <a class="btn btn-primary" href="{{ path('checkapplyforseller') }}">List of appliers for Seller</a>
        <a class="btn btn-primary" href="{{ path('listofcategories') }}">List of categories</a>
        <a class="btn btn-primary" href="{{ path('listofproducts') }}">List of products</a>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}