{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>Update the product image</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.image) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#product_image_form_image').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}