{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>Category</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}