{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>Category</p>
    </div>
    <div>
        <p> Category name: {{ category.name }}</p>
        <p> User Name: {{ category.user.firstname }} {{ category.user.lastname }}</p>
        <p> {% if(category.visibilityAdmin == 1) %}
                Visible
            {% else %}
                Not Visible
            {% endif %}
        </p>
    </div><hr />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}