{% extends '/admin/header.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary" href="{{ path('list_of_categories') }}">Back</a>
    </div><br />
    <div>
        <p>Category</p>
    </div>
    <div>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button type="submit" class="btn btn-primary" onclick="submitOnce(this, form)" formnovalidate>Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}